<sticky-header>
    <header class="primary-header layout-2">
        <div class="container">
            <div class="nav-wrapper">
                <div class="icon-menu-container">
                    <a href="/search" class="icon-menu">
                        <svg class="icon icon-search" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="24" fill="#D9D9D9"/>
                            <circle cx="21.4414" cy="22.4414" r="8.44135" stroke="black" stroke-width="2"/>
                            <path d="M27.2847 28.0981L35 35.8135" stroke="black" stroke-width="2"/>
                        </svg>
                    </a>
                    <a href="/wishlist" class="icon-menu">
                        <svg class="icon icon-wishlist" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="24" fill="#D9D9D9"/>
                            <path d="M29.7052 15.2727C32.3851 15.2727 34.7533 17.05 34.7533 20.6273C34.7533 26.267 27.409 30.0557 23.4994 34.1898C19.5899 30.0557 12.2467 26.2682 12.2467 20.6284C12.2467 17.1568 14.5058 15.2727 17.2948 15.2727C20.8725 15.2727 22.7468 19.4136 23.4994 21.3091C24.2498 19.4159 26.1242 15.2727 29.7052 15.2727ZM29.7052 13C27.2593 13 24.8157 14.2068 23.4994 16.8852C22.1831 14.2068 19.7395 13 17.2948 13C13.4663 13 10 15.7159 10 20.6011C10 28.8625 21.1413 33.0307 23.4994 38C25.8575 33.0307 37 28.8625 37 20.6011C37 15.3898 33.1591 13 29.7052 13Z" fill="black"/>
                        </svg>
                    </a>
                </div>
                {%- if request.page_type == 'index' -%}
                    <h1 class="header__heading">
                {%- endif -%}
                    <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
                        {%- if section.settings.logo != blank -%}
                        {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
                        {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
                        {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
                            class: 'header__heading-logo',
                            widths: '50, 100, 150, 200, 250, 300, 400, 500',
                            height: logo_height,
                            width: section.settings.logo_width,
                            alt: logo_alt
                        }}
                        {%- else -%}
                        <span class="h2">{{ shop.name }}</span>
                        {%- endif -%}
                    </a>
                {%- if request.page_type == 'index' -%}
                    </h1>
                {%- endif -%}
                <div class="icon-menu-container">
                    <a href="/account" class="icon-menu display-sm-none display-md-inline-flex">
                        <svg class="icon icon-account" width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="24" fill="#D9D9D9"/>
                            <mask id="path-2-inside-1_6_54" fill="white">
                            <path d="M37.125 35.4375C37.125 31.8405 35.6961 28.3908 33.1526 25.8474C30.6092 23.3039 27.1595 21.875 23.5625 21.875C19.9655 21.875 16.5158 23.3039 13.9724 25.8474C11.4289 28.3908 10 31.8405 10 35.4375L23.5625 35.4375H37.125Z"/>
                            </mask>
                            <path d="M37.125 35.4375C37.125 31.8405 35.6961 28.3908 33.1526 25.8474C30.6092 23.3039 27.1595 21.875 23.5625 21.875C19.9655 21.875 16.5158 23.3039 13.9724 25.8474C11.4289 28.3908 10 31.8405 10 35.4375L23.5625 35.4375H37.125Z" stroke="black" stroke-width="4" mask="url(#path-2-inside-1_6_54)"/>
                            <circle cx="23.5625" cy="15.3125" r="7.3125" stroke="black" stroke-width="2"/>
                        </svg>
                    </a>
                    <a href="/cart" class="icon-menu">
                        <svg class="icon icon-cart" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="24" fill="#D9D9D9"/>
                            <mask id="path-2-inside-1_6_50" fill="white">
                            <path d="M30.5 16.4C30.5 14.6761 29.8152 13.0228 28.5962 11.8038C27.3772 10.5848 25.7239 9.89999 24 9.89999C22.2761 9.89999 20.6228 10.5848 19.4038 11.8038C18.1848 13.0228 17.5 14.6761 17.5 16.4L24 16.4H30.5Z"/>
                            </mask>
                            <path d="M30.5 16.4C30.5 14.6761 29.8152 13.0228 28.5962 11.8038C27.3772 10.5848 25.7239 9.89999 24 9.89999C22.2761 9.89999 20.6228 10.5848 19.4038 11.8038C18.1848 13.0228 17.5 14.6761 17.5 16.4L24 16.4H30.5Z" fill="#D9D9D9" stroke="black" stroke-width="4" mask="url(#path-2-inside-1_6_50)"/>
                            <rect x="15" y="16" width="18" height="20" stroke="black" stroke-width="2"/>
                        </svg>
                    </a>
                    <button class="mobile-nav-toggle icon-menu" aria-controls="primary-navigation">
                        <svg class="icon icon-humberg" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="24" fill="#D9D9D9"/>
                            <path d="M19.5 18.5H35M14 30.5H29.5M14 24.5H35" stroke="black" stroke-width="2" stroke-linecap="round" hemberg-path="M19.5 18.5H35M14 30.5H29.5M14 24.5H35" close-path="M18 16.5L31 30M16.5 30L31.5 16.5"/>
                        </svg>
                        
                        <span class="visually-hidden">Menu</span>
                    </button>
                </div>
            </div>
            <nav class="pirmary-navigation" id="primary-navigation" aria-expanded="false">
                <ul aria-label="Pirmary" role="list" class="nav-list">
                    <div class="marker"></div>
                    {% for link in section.settings.menu.links %}
                        <li><a class="link" href="{{ link.url }}">{{ link.title }}</a></li>    
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>
</sticky-header>