<slider-section class="featured-item-section featured-item-section{{section.id}}" style="--featured-item-title-dfs: {{ section.settings.title_size_desktop }}px; --featured-item-title-mfs: {{ section.settings.title_size_mobile }}px;">
    <div class="container">
        <!-- Slider main container -->
        {% assign breakpointsCount = 0 %}
        {% assign breakpointsIndex = 0 %}
        {% for block in section.blocks %}
            {% if block.type == 'breakpoint'%}
                {% assign breakpointsCount = breakpointsCount | plus: 1 %}
            {% endif %}
        {% endfor %}
        <div class="swiper swiper-{{ template.name }}{{ section.id }}" id="swiper-{{ template.name }}{{ section.id }}" config='{ {% if breakpointsCount == 0 %} "slidesPerView": {{ section.settings.slide_show }},"spaceBetween": {{ section.settings.slide_space }} , {% endif %} "loop": {{ section.settings.loop }}{% if section.settings.autoplay == true %},"autoplay": {"delay": {{ section.settings.delay }}}{% endif %},"speed": {{ section.settings.speed }},"navigation":{"nextEl": ".swiper-button-next{{ section.id }}","prevEl": ".swiper-button-prev{{ section.id }}"},"pagination":{"el": ".swiper-pagination","dynamicBullets": "true","clickable": "true"}, "breakpoints":{ {% for block in section.blocks %}{% if block.type == 'breakpoint'%} {% assign breakpointsIndex = breakpointsIndex | plus: 1 %} "{{ block.settings.width }}":{"slidesPerView": {{ block.settings.slide_show }}, "spaceBetween": {{ block.settings.slide_space }} }{% if breakpointsIndex != breakpointsCount %},{% endif %}{% endif %} {%endfor%} }}'> 
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% if section.settings.collection %}
                    {% for product in section.settings.collection.products %}
                        <div class="swiper-slide">
                            <div class="inner-container {{ block.settings.image_position }}">
                                <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.src.alt }}">
                                <h2 class="title">{{ product.title }}</h2>
                            </div>
                        </div>     
                    {% endfor %}
                {% else %}
                    {% for product in section.settings.product_list_items.value %}
                        <div class="swiper-slide">
                            <div class="inner-container {{ block.settings.image_position }}">
                                <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.src.alt }}">
                                <h2 class="title">{{ product.title }}</h2>
                            </div>
                        </div>     
                    {% endfor %}
                {% endif %}
            </div>
            {% if section.settings.dots %}
                <div class="swiper-pagination"></div>    
            {% endif %}
            {% if section.settings.arrow %}
                <div class="swiper-button-prev swiper-button-prev{{ section.id }}">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="24" cy="24" r="24" transform="rotate(-180 24 24)" fill="#D9D9D9"/>
                        <path d="M28.0002 35L18.0002 24L28.0002 13" stroke="black" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="swiper-button-next swiper-button-next{{ section.id }}">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="24" cy="24" r="24" fill="#D9D9D9"/>
                        <path d="M19.9998 13L29.9998 24L19.9998 35" stroke="black" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </div>
            {% endif %}
        </div>        
    </div>
</slider-section>
</div>
{% schema %}
{
   "name": "Product Items",
    "class": "featured-items",
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "url",
                    "id": "url",
                    "label": "Url"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Choose Image",
                    "info": "If you want custom image choose here"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Lightweight luxury earphones",
                    "info": "If you want custom title type here"
                },
                {
                    "type": "color",
                    "id": "bg_color",
                    "label": "Background Color",
                    "default": "#FFFFFF"
                }
            ]
        },
        {
           "type": "breakpoint",
           "name": "Breakpoint",
            "settings": [
                {
                    "type": "header",
                    "content": "Breakpoint Settings",
                    "info": "Work on greater then this width"
                },
                {
                    "type": "number",
                    "id": "width",
                    "label": "Device Width",
                    "default": 768,
                    "info": "in px"
                },
                {
                    "type": "range",
                    "id": "slide_show",
                    "label": "Slide Show",
                    "unit": "Sld",
                    "min": 1,
                    "max": 5,
                    "step": 1,
                    "default": 4
                },
                {
                    "type": "range",
                    "id": "slide_space",
                    "label": "Slide Between Space",
                    "unit": "px",
                    "min": 1,
                    "max": 30,
                    "step": 1,
                    "default": 4
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Featured",
            "name":"Product Items"
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Select Product"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "product_list",
            "id": "product_list_items",
            "label": "Products"
        },
        {
            "type": "header",
            "content": "Desktop"
        },
        
        {
            "type": "range",
            "id": "top_padding",
            "label": "Top Padding",
            "unit": "px",
            "min": 1,
            "max": 100,
            "step": 1,
            "default": 10
        },
        {
            "type": "range",
            "id": "bottom_padding",
            "label": "Top Padding",
            "unit": "px",
            "min": 1,
            "max": 100,
            "step": 1,
            "default": 10
        },
        {
            "type": "header",
            "content": "Mobile"
        },
        {
            "type": "range",
            "id": "mobile_top_padding",
            "label": "Top Padding",
            "unit": "px",
            "min": 1,
            "max": 100,
            "step": 1,
            "default": 5
        },
        {
            "type": "range",
            "id": "mobile_bottom_padding",
            "label": "Top Padding",
            "unit": "px",
            "min": 1,
            "max": 100,
            "step": 1,
            "default": 5
        },
        {
            "type": "text",
            "id": "title",
            "label": "Section Title",
            "default": "Featured Item"
        },
        {
            "type": "header",
            "content": "slide Setting"
        },
        {
            "type": "range",
            "id": "title_size_desktop",
            "label": "Title Font Size Desktop",
            "unit": "px",
            "min": 1,
            "max": 100,
            "step": 1,
            "default": 37
        },
        {
            "type": "range",
            "id": "title_size_mobile",
            "label": "Title Font Size Mobile",
            "unit": "px",
            "min": 1,
            "max": 100,
            "step": 1,
            "default": 25
        },
        {
            "type": "select",
            "id": "content_style",
            "label": "Show Content",
            "options": [
                {
                    "value": "inside",
                    "label": "Inside"
                },
                {
                    "value": "outside",
                    "label": "Outside"
                }
            ],
           "default": "inside"
        },
        {
            "type": "range",
            "id": "slide_show",
            "label": "Slide Show",
            "unit": "Sld",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "slide_space",
            "label": "Slide Between Space",
            "unit": "px",
            "min": 1,
            "max": 30,
            "step": 1,
            "default": 4
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "loop",
            "label": "Loop",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "arrow",
            "label": "Arrow",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "dots",
            "label": "Dots",
            "default": false
        },
        {
            "type": "text",
            "id": "delay",
            "label": "Delay",
            "default": "2000",
            "info": "Work in Autoplay"
        },
        {
            "type": "text",
            "id": "speed",
            "label": "Speed",
            "default": "500"
        }
    ]
}
{% endschema %}
<style>
    .featured-item-section{{section.id}} {
        padding-top: {{ section.settings.top_padding }}px;
        padding-bottom: {{ section.settings.bottom_padding }}px;
    }
    @media (max-width: 767px) {
        .featured-item-section{{section.id}} {
            padding-top: {{ section.settings.mobile_top_padding }}px;
            padding-bottom: {{ section.settings.mobile_bottom_padding }}px;
        }   
    }
</style>