<slider-section class="slider-section">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper swiper-{{ template.name }}{{ section.id }}" id="swiper-{{ template.name }}{{ section.id }}" config='{"loop": {{ section.settings.loop }}{% if section.settings.autoplay == true %},"autoplay": {"delay": {{ section.settings.delay }}}{% endif %},"speed": {{ section.settings.speed }},"navigation":{"nextEl": ".swiper-button-next","prevEl": ".swiper-button-prev"},"pagination":{"el": ".swiper-pagination","dynamicBullets": true,"clickable": true}}'> 
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for block in section.blocks %}
                    <div class="swiper-slide">
                        <div class="inner-container {{ block.settings.image_position }}">
                            <div class="right-side">
                                <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                            </div>
                            <div class="left-side">
                                <div class="left-side-inner-container">
                                    <p class="top_title">{{ block.settings.top_title }}</p>
                                    <h2 class="title">{{ block.settings.title }}</h2>
                                    <p class="content">{{ block.settings.content }}</p>
                                    <div class="button-container">
                                        {% if block.settings.btn_1_text != blank %}
                                            <a href="{{ block.settings.btn_1_url }}" class="btn btn-primary">{{ block.settings.btn_1_text }}</a>    
                                        {% endif %}
                                        {% if block.settings.btn_2_text != blank %}
                                            <a href="{{ block.settings.btn_2_url }}" class="btn btn--accent btn-secondary">{{ block.settings.btn_2_text }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="24" transform="rotate(-180 24 24)" fill="#D9D9D9"/>
                    <path d="M28.0002 35L18.0002 24L28.0002 13" stroke="black" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="24" fill="#D9D9D9"/>
                    <path d="M19.9998 13L29.9998 24L19.9998 35" stroke="black" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </div>
        </div>        
    </div>
</slider-section>

{% schema %}
    {
        "name": "Slider Section",
        "presets": [
            {
                "category": "Growth",
                "name":"Slider Section"
            }
        ],
        "blocks": [
            {
                "type": "slider_with_image",
                "name": "Slider With Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Choose Imaege"
                    },
                    {
                        "type": "text",
                        "id": "top_title",
                        "label": "Top title",
                        "default": "Amazing Style"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Unstoppable"
                    },
                    {
                        "type": "text",
                        "id": "content",
                        "label": "Content",
                        "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum corporis praesentium ad suscipit ab error similique sequi architecto reiciendis assumenda officiis id quos, quod beatae soluta! Temporibus dolor earum beatae!"
                    },
                    {
                        "type": "text",
                        "id": "btn_1_text",
                        "label": "Primary Button Text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "url",
                        "id": "btn_1_url",
                        "label": "Primary Button Url"
                    },
                    {
                        "type": "text",
                        "id": "btn_2_text",
                        "label": "Secondary Button Text",
                        "default": "Discover Now"
                    },
                    {
                        "type": "url",
                        "id": "btn_2_url",
                        "label": "Secondary Button Url"
                    },
                    {
                        "type": "select",
                        "id": "image_position",
                        "label": "Image Position",
                        "options": [
                            {
                                "value": "forword",
                                "label": "Right"
                            },
                            {
                                "value": "reverse",
                                "label": "Left"
                            }
                        ]
                    }
                ]
            }
        ],
        "settings": [
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Autoplay",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "loop",
                "label": "Loop",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "arrow",
                "label": "Arrow",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "dots",
                "label": "Dots",
                "default": false
            },
            {
                "type": "text",
                "id": "delay",
                "label": "Delay",
                "default": "2000",
                "info": "Work in Autoplay"
            },
            {
                "type": "text",
                "id": "speed",
                "label": "Speed",
                "default": "500"
            }
        ]
    }
{% endschema %}