<slider-section>
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for block in section.blocks %}
                    <div class="swiper-slide">
                        <div class="inner-container">
                            <div class="left-side">
                                <p class="top_title">{{ block.settings.top_title }}</p>
                                <h2 class="title">{{ block.settings.title }}</h2>
                                <p class="content">{{ block.settings.content }}</p>
                                <div class="button-container">
                                    <a href="{{ block.settings.btn_1_url }}" class="btn btn-primary">{{ block.settings.btn_1_text }}</a>
                                    <a href="{{ block.settings.btn_2_url }}" class="btn btn-secondary">{{ block.settings.btn_2_text }}</a>
                                </div>
                            </div>
                            <div class="right-side">
                                <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                            </div>
                        </div>
                    </div>    
                {% endfor %}
            </div>
        </div>        
    </div>
</slider-section>
{% schema %}
    {
        "name": "Slider Section",
        "presets": [
            {
                "category": "Growth",
                "name":"Slider Section"
            }
        ],
        "blocks": [
            {
                "type": "slider_with_image",
                "name": "Slider With Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Choose Imaege"
                    },
                    {
                        "type": "text",
                        "id": "top_title",
                        "label": "Top title",
                        "default": "Amazing Style"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Unstoppable"
                    },
                    {
                        "type": "text",
                        "id": "content",
                        "label": "Content",
                        "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum corporis praesentium ad suscipit ab error similique sequi architecto reiciendis assumenda officiis id quos, quod beatae soluta! Temporibus dolor earum beatae!"
                    },
                    {
                        "type": "text",
                        "id": "btn_1_text",
                        "label": "Primary Button Text",
                        "default": "Shop Now"
                    },
                    {
                        "type": "url",
                        "id": "btn_1_url",
                        "label": "Primary Button Url"
                    },
                    {
                        "type": "text",
                        "id": "btn_2_text",
                        "label": "Secondary Button Text",
                        "default": "Discover Now"
                    },
                    {
                        "type": "url",
                        "id": "btn_2_url",
                        "label": "Secondary Button Url"
                    },
                    {
                        "type": "select",
                        "id": "image_position",
                        "label": "Image Position",
                        "options": [
                            {
                                "value": "right",
                                "label": "Right"
                            },
                            {
                                "value": "left",
                                "label": "Left"
                            }
                        ]
                    },
                    {
                        "type": "checkbox",
                        "id": "autoplay",
                        "label": "Autoplay",
                        "default": "false"
                    },
                    {
                        "type": "checkbox",
                        "id": "arrow",
                        "label": "Arrow",
                        "default": "false"
                    },
                    {
                        "type": "checkbox",
                        "id": "dots",
                        "label": "Dots",
                        "default": "false"
                    }
                ]
            }
        ],
        "settings": [
        ]
    }
{% endschema %}